

@* Developer: Hoora *@


@inject SignInManager<IdentityUser> _signInManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <environment include="Development">
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    </environment>

    <environment exclude="Development">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
              rel="stylesheet"
              integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
              crossorigin="anonymous"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only"
              asp-fallback-test-property="position"
              asp-fallback-test-value="abbsolute"
              asp-suppress-fallback-integrity="true">
    </environment>

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/StudentManagementSystem.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="container-fluid">
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" style="background-color: #811700;">
                <div class="container-fluid">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                        <img src="~/images/logo.png" asp-append-version="true" width="200">
                    </a>
                    <button class="navbar-toggler" type="button" style="background-color: white;" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-controller="Home" asp-action="Index" style="font-size: 18px; font-weight: bold;">Home</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-white" asp-controller="ContactUs" asp-action="Index" style="font-size: 18px; font-weight: bold;">Contact Us</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-white" asp-controller="Packages" asp-action="Index" style="font-size: 18px; font-weight: bold;">Packages</a>
                            </li>
                           
                            @if (_signInManager.IsSignedIn(User))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-controller="Bookings" asp-action="Index" style="font-size: 18px; font-weight: bold;">Bookings</a>
                                </li>
                            }
                        </ul>

                        <ul class="navbar-nav me-auto">
                            @if (_signInManager.IsSignedIn(User))
                            {
                                <form method="post" asp-controller="Account" asp-action="Logout">
                                    <button type="submit" class="nav-link btn btn-link text-white fw-bold">
                                        Logout @User.Identity.Name
                                    </button>
                                </form>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-white fw-bold" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link text-white fw-bold" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    </div>


    <div class="container-fluid" d-flex flex-column">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <div class="fixed-bottom container-fluid">
        <footer style="background-color: #333; color: #fff; padding: 20px; text-align: center;">

            <div class="container">
                &copy; 2023 - TravelExperts.Web
                @* - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> *@
            </div>
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
