

@* Developer: Hoora *@


@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5">
    <h1 class="display-4 text-center mb-4 fw-bold">Welcome to Travel Agency Co.</h1>
    <h3 class="display-4 text-center mb-5 fw-bold">Online Bookin System</h3>
    <div class="row">
        <div class="col-md-10 offset-md-1" style="font-size: 22px;">

            <h3 class="fw-bold">
                About Us
            </h3>
            <p style="text-align: justify;">
                The Travel Experts is your trusted partner for all your travel needs. We are headquartered in the vibrant city of Calgary and are proud to serve travelers from all walks of life. With a commitment to exceptional service and a passion for exploration, we are here to make your travel dreams a reality.
            </p>

            <h3 class="fw-bold">
                Our Locations
            </h3>
            <p style="text-align: justify;">
                Calgary is where our heart beats, but our reach extends far and wide. In addition to our main office, we have a dedicated branch office in the picturesque town of Okotoks, ensuring that personalized travel assistance is always within reach. We are continually expanding our horizons and have ambitious plans to hire more experienced travel agents and open new agencies in the future, so stay tuned for exciting updates.
            </p>

            <h3 class="fw-bold">
                Why Choose Us
            </h3>
            <p>
                <ul>
                    <li style="text-align: justify;">
                        Expert Guidance: Our team of seasoned travel agents is well-versed in the art of crafting unforgettable journeys. Whether you're seeking a relaxing beach getaway, an adventurous trek, or a cultural immersion, our experts are here to curate the perfect itinerary for you.
                    </li>
                    <li style ="text-align: justify;">
                        Personalized Service: We believe that no two travelers are the same, which is why we take the time to understand your unique preferences and requirements. Your travel experience should be as individual as you are.
                    </li>
                    <li style="text-align: justify;">
                        Global Network: Our extensive network of partners and suppliers allows us to offer you the best deals and access to hidden gems across the world. From flights and accommodations to unique experiences, we've got you covered.
                    </li>
                    <li style="text-align: justify;">
                        Peace of Mind: Travel with confidence knowing that we have your back every step of the way. We provide 24/7 support, so you can focus on creating memories while we handle the logistics.
                    </li>
                </ul>

                <p style="text-align: justify;">
                    Join us on a journey of discovery and adventure. The world is waiting, and The Travel Experts are here to guide you on your path to exploration. Your next great adventure starts here.
                </p>
            </p>
        </div>
    </div>
</div>
