

@* Developer: Hoora *@


@model RegisterViewModel

@{
    ViewData["Title"] = "Register";
}

<h3 class="text-center fw-bold mt-3 mb-3">Register New User</h3>

<div class="row col-md-8 offset-3">
    <form method="post" asp-controller="Account" asp-action="Register">

        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="row mb-2">
            <label asp-for="Email" class="col-form-label col-md-2"></label>
            <div class="col-md-6">
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for=Email class="text-danger"></span>
            </div>
        </div>

        <div class="row mb-2">
            <label asp-for="Username" class="col-form-label col-md-2"></label>
            <div class="col-md-6">
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for=Username class="text-danger"></span>
            </div>
        </div>

        <div class="row mb-2">
            <label asp-for="Password" class="col-form-label col-md-2"></label>
            <div class="col-md-6">
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for=Password class="text-danger"></span>
            </div>
        </div>

        <div class="row mb-4">
            <label asp-for="ConfirmPassword" class="col-form-label col-md-2"></label>
            <div class="col-md-6">
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for=ConfirmPassword class="text-danger"></span>
            </div>
        </div>

        <div class="row">
            <button type="submit" class="btn col-md-2 text-white fw-bold" style="background-color: #811700;">Sign up</button>
        </div>

    </form>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}